{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm">
  <h5 class="mb-3 text-primary">Change Your Password</h5>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label">New Password</label>
      <input type="password" name="new_password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Confirm Password</label>
      <input type="password" name="confirm_password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Change Password</button>
  </form>
</div>
{% endblock %}
