{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 500px;">
  {% if hospital %}
  <h4>Change password for {{ hospital.name }}</h4>
  {% else %}
    <h4>Change your password</h4>
  {% endif %}


  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="new_password" class="form-label">New Password</label>
      <input type="password" class="form-control" name="new_password" required>
    </div>
    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="confirm_password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Change Password</button>
  </form>
</div>
{% endblock %}
